{% load render_bundle from webpack_loader %}

<html>

<head>
    <link href="/assets/css/styles.css" type="text/css" rel="stylesheet">
    <title>Digest news</title>
</head>

<body>
<h1>Lenta.ru digest news</h1>
<hr/>

<div class="menu">
    <datalist id="topics">
        <option value="Наука и техника"></option>
        <option value="Спорт"></option>
        <option value="Путешествия"></option>
        <option value="Мир"></option>
        <option value="Бывший СССР"></option>
        <option value="Интернет и СМИ"></option>
        <option value="69-я параллель"></option>
        <option value="Силовые структуры"></option>
        <option value="Из жизни"></option>
        <option value="Бизнес"></option>
        <option value="Финансы"></option>
        <option value="Ценности"></option>
        <option value="Культпросвет"></option>
        <option value="Крым"></option>
    </datalist>

    <input class="with-margin" list="topics" placeholder="Все новости" id=topics-input>
    <label for="from">From date</label>
    <input class="with-margin" type="date" id="from">
    <label for="to">To date</label>
    <input class="with-margin" type="date" id="to">
    <input id="email" type="email" placeholder="test@email.com" name="mail">
    <a href="javascript:void(0)" id="get_report">send me mail</a>

</div>

<div id="container"></div>

{% render_bundle 'main' %}

<script src="/assets/js/helper.js"></script>

</body>

</html>
