h1 {
    text-align:center;
}

hr {
    color:#EAEFF5;
    margin-bottom:30px
}

.menu {
    text-align:center;
}

.with-margin {
    margin-right:20px;
}

#container {
    width: 80%;
    margin: 40 auto auto auto;
    text-align: justify;
}